[submodule "accelerate"]
	path = accelerate
	url = git@github.com:AccelerateHS/accelerate.git
[submodule "accelerate-llvm"]
	path = accelerate-llvm
	url = git@github.com:AccelerateHS/accelerate-llvm.git
[submodule "llvm-hs"]
	path = llvm-hs
	url = git@github.com:llvm-hs/llvm-hs.git
	branch = llvm-15
